//COLORES
$white:#FFFFFF; 
$gris:#BDBDBD;

$black:#000000;

$blue:#325785;
$bLighten-1:#42648F;
$bLighten-3:#899EB9;

$green:#21B36C;
$gLighten-1:#32B978;
$gLighten-3:#7FD3AA;

$orange:#FF3D00;

$gold:#FFC107;
